// global color variables
$base-color: #23233F;
$base-color-1: #3C5A99;
$base-color-2: #4f73c1;
$base-color-3: #6190f6;

$active-route: #FFFFFF80;
$carousel-dot-grey: #D9D9D9;

$banner-bg: #eee;

$transition: all 0.4s;

// status indicators
$pending: #FFA500;
$reviewed: $base-color-3;
$approved: #008000;
$declined: #da0000;
$disbursed: $approved;

// dark theme mode
$dark-theme: #101014;
